.buildpath
.hgignore.swp
.project
.orig
.swp
.idea/
.settings/
.vscode/
vendor/
composer.lock
gitpush.sh
pkg/
bin/
cbuild
**/.DS_Store
.test/
main
output/
manifest/output/
temp/
logs/
go.sum
*.log
hack/config.yaml
manifest/config/config.yaml

.DS_Store
vender/
*/.DS_Store
.vscode
executorlog/
*.exe
main-go-linux